@import "tailwindcss";

@theme {
	--color-custom-blue: #4464ef;
	--color-custom-pink: #ee2f6c;
}

.fc-event-main {
	overflow: hidden !important;
}

.fc-header-toolbar.fc-toolbar {
	display: none !important;
}

.fc-border-dashed {
	border-style: dashed !important;
	border-width: 1px !important;
}
